Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentCaseLabels: true
ColumnLimit: 120
BreakBeforeBraces: Attach
SpaceAfterCStyleCast: false
SpaceBeforeParens: Never
AlignConsecutiveAssignments: false